*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans',sans-serif;
}
.field-group{
    width: 600px;
    position: relative;
    overflow: hidden;
}
.input-field{
    width: 100%;
    outline: 0;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 10px;
    background: #efefef;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 2em;
    transition: 0.3s ease;
}
.input-label{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #999999;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.input-field:focus{
    border-color: #ff9f1c;
    padding: 5px 5px 20px 5px;
}
.input-field:focus + .input-label{
    top: 100%;
    background: #ff9f1c;
    padding: 1px 5px;
    margin-top: -16px;
    font-size: 70%;
    color: #ffffff;
    z-index: 2;
}